doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Path to Catch'em All
    block topnavbar
      div.topnav 
        a(class="active" href="/index") Home
        a(href="/existing") Existing Players
        a(href="/new") New Players
        a(href="/about") About
    block content
