extends layout

block content
  div.maintext
    h1= title

    form(method='POST' action='')
      div.form-group 
        label Games:
        div
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='ultra_sun', id="ultraSunBox", value='ultra_sun')
            label Ultra Sun
      <br>
      <br>    
      button.btn.btn-primary(type='submit') Submit


